@tailwind base;
@tailwind components;
@tailwind utilities;

.honey-cell{
    @apply w-[258px] h-[93px] flex items-center justify-center gap-2
}
.honey-button{
    -webkit-clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
    clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
    width:93%;
    height:100%;
    @apply bg-outerHoney text-xl font-semibold
    
}

.honey-button.center-hex{
    @apply bg-centerHoney
}

